.footer {
  background-color: #192F2D;
  height: 9vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}
.signature {
  width: 100%;
}
.signature a {
  margin: 0 0 0 8vh;
  color: white;
  font-weight: 600;
  font-size: 1.2vw;
  text-decoration: none;
}
.rss-school {
  margin: 0 8vh 0 0;
  height: 3.5vw;
}
.rss-school img {
  height: 3.5vw;
}
.rss-school:hover {
  filter: invert(57%) sepia(100%) saturate(329%) hue-rotate(141deg) brightness(89%) contrast(90%);
}
